* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: $bodyFontSize;
  background: url("../images/desktop/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  font-family: "Alata", sans-serif;
  // font-family: "Josefin Sans", sans-serif;
  // font-weight: 300;

  header,
  footer,
  main > section {
    padding: 0 8rem;
  }

  h1,
  h2 {
    font-family: "Josefin Sans", sans-serif;
  }
}
