* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: $bodyFontSize;
  background: url("../images/desktop/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  header,
  footer,
  main > section {
    padding: 0 8rem;
  }
}
