* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: $bodyFontSize;
  font-family: "Alata", sans-serif;

  header,
  footer,
  main > section {
    padding: 0 8rem;
  }

  h1,
  h2 {
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
  }
}
