@import "mixins";

header {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 1.5rem;
  left: 0.5rem;
  right: 0.5rem;

  @include logo-style(10.714285rem);
  @include link-default-styles;
}
