@mixin link-default-styles {
  ul {
    display: flex;
    list-style: none;

    li:not(:last-child) {
      padding-right: 1.5rem;
      position: relative;
    }

    a {
      color: $white;
      text-decoration: none;
      font-weight: none;
      font-size: 0.9rem;

      &:hover {
        border-bottom-width: 5px;
        border-bottom: 1px solid $white;
      }
    }
  }
}

@mixin logo-style($size) {
  .logo {
    width: $size; // Equivalent to 150px
    > img {
      width: 100%;
    }
  }
}

@mixin card-image($url) {
  background-image: $url;
  background-repeat: no-repeat;
}

@mixin mobile-device-styles {
  @media screen and (max-width: 767px) {
    // main > section {
    //   padding: 0 0;
    // }
    @content;
  }
}
