.our-creation {
  display: flex;
  flex-wrap: wrap;

  > * {
    width: 50%;
  }

  &__title {
    font-weight: 200;
  }

  &__see-all {
    text-align: right;
    margin-left: auto;

    span {
      border: 1px solid $black;
      padding: 0.5rem 1rem;
      text-transform: uppercase;
      font-size: 0.7rem;
    }
  }

  &__card-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    gap: 35px;
    margin-top: 50px;

    > * {
      height: 28rem;
      display: flex;
      align-items: flex-end;
      background-size: cover;

      h2 {
        color: $white;
        width: 60%;
        padding: 0 0 2rem 1rem;
        font-weight: 200;
      }
    }

    @for $i from 1 through length($images) {
      $currentImage: nth($images, $i);
      &__item#{$i} {
        @include card-image($currentImage);
      }
    }
  }
}
